# PlanAhead Generated physical constraints 

NET "led[6]" LOC = E14;
NET "led[5]" LOC = G13;
NET "led[4]" LOC = N15;
NET "led[3]" LOC = P15;
NET "led[2]" LOC = R16;
NET "led[1]" LOC = F13;
NET "led[0]" LOC = N16;
NET "led_unidades[1]" LOC = P11;
NET "led_unidades[0]" LOC = P12;
NET "selector[3]" LOC = E13;
NET "selector[2]" LOC = F14;
NET "selector[1]" LOC = G14;
NET "selector[0]" LOC = D14;
NET "clk" LOC = T9;
NET "entrada" LOC = D5;
NET "reset" LOC = M13;
NET "entrada" CLOCK_DEDICATED_ROUTE = FALSE;

# PlanAhead Generated IO constraints 

NET "led[6]" IOSTANDARD = LVCMOS33;
NET "led[5]" IOSTANDARD = LVCMOS33;
NET "led[4]" IOSTANDARD = LVCMOS33;
NET "led[3]" IOSTANDARD = LVCMOS33;
NET "led[2]" IOSTANDARD = LVCMOS33;
NET "led[1]" IOSTANDARD = LVCMOS33;
NET "led[0]" IOSTANDARD = LVCMOS33;
NET "selector[3]" IOSTANDARD = LVCMOS33;
NET "selector[2]" IOSTANDARD = LVCMOS33;
NET "selector[1]" IOSTANDARD = LVCMOS33;
NET "selector[0]" IOSTANDARD = LVCMOS33;
NET "clk" IOSTANDARD = LVCMOS33;
NET "led_unidades[1]" IOSTANDARD = LVCMOS33;
NET "led_unidades[0]" IOSTANDARD = LVCMOS33;
NET "entrada" IOSTANDARD = LVCMOS33;
NET "reset" IOSTANDARD = LVCMOS33;

NET "led[6]" DRIVE = 12;
NET "led[5]" DRIVE = 12;
NET "led[4]" DRIVE = 12;
NET "led[3]" DRIVE = 12;
NET "led[2]" DRIVE = 12;
NET "led[1]" DRIVE = 12;
NET "led[0]" DRIVE = 12;
NET "led_unidades[1]" DRIVE = 12;
NET "led_unidades[0]" DRIVE = 12;
NET "selector[3]" DRIVE = 12;
NET "selector[2]" DRIVE = 12;
NET "selector[1]" DRIVE = 12;
NET "selector[0]" DRIVE = 12;
NET "clk" DRIVE = 12;
NET "entrada" DRIVE = 12;
NET "reset" DRIVE = 12;

NET "led[6]" SLEW = SLOW;
NET "led[5]" SLEW = SLOW;
NET "led[4]" SLEW = SLOW;
NET "led[3]" SLEW = SLOW;
NET "led[2]" SLEW = SLOW;
NET "led[1]" SLEW = SLOW;
NET "led[0]" SLEW = SLOW;
NET "led_unidades[1]" SLEW = SLOW;
NET "led_unidades[0]" SLEW = SLOW;
NET "selector[3]" SLEW = SLOW;
NET "selector[2]" SLEW = SLOW;
NET "selector[1]" SLEW = SLOW;
NET "selector[0]" SLEW = SLOW;
NET "clk" SLEW = SLOW;
NET "entrada" SLEW = SLOW;
NET "reset" SLEW = SLOW;
